idabd
xbd
train
tier3
test
weights
# --- Model checkpoints / weights (too large for GitHub) ---
*.pth
*.pt
*.ckpt
/new_approach/xbd_source/
# If you want to keep small ones, ignore only in these folders instead:
new_approach/idabd_stage1_loc_ft_checkpoints/
new_approach/idabd_stage2_damage_ft_checkpoints/
new_approach/idabd_stage2_damage_ft_checkpoints_retrained_destroyed/
new_approach/idabd_stage2_damage_ft_checkpoints_retrained_destroyed_NOFUSION/
new_approach/idabd_stage2_damage_ft_checkpoints_FUSION_ONLY_noDA/
new_approach/idabd_stage2_damage_ft_checkpoints_RGB_CONTRAST_EDGE_ONLY/
new_approach/idabd_stage2_damage_ft_checkpoints_RGB_UNSHARP_CONTRAST_ONLY
new_approach/idabd_stage2_damage_ft_checkpoints_RGB_UNSHARP_EDGE_ONLY
new_approach/idabd_stage2_damage_ft_checkpoints_RGB_UNSHARP_ONLY
new_approach/idabd_stage2_damage_ft_checkpoints_RGB+CONTRAST_ONLY
new_approach/idabd_stage2_damage_ft_checkpoints_RGB_ONLY_BASELINE
new_approach/idabd_stage2_damage_ft_checkpoints_RGB+EDGES_ONLY
new_approach/idabd_stage2_damage_ft_checkpoints_RGBplusFUSION_6ch
new_approach/weights/
weights/


# Optional (often large)
*.npz
*.pkl
*.h5
*.onnx
